
<nav class="nav">
    <img style="height: 100px;" src="https://res.cloudinary.com/dpqkayvki/image/upload/v1594220042/Krapp/icon-04_hlgowi.svg" alt="navicon">
    <h1 style="object-fit: contain;" class="big">KRAPP LOCATIONS{{#if user}}{{user.username}}{{/if}}</h1>
    <div class="nav-links">
        <a class="button" href="/newKebab/new">Add</a><br>
        <a class="button" href="/profile">Main</a>
    </div>
</nav>

<div class="centerme">
{{#each kebab}}
<div class="reviews">
    <h3><a href="/newKebab/{{_id}}">{{shopName}}</a></h3>
    <img style='width: 300px;' src="{{picture}}" alt="Kebab image"><br>
    <p>Rating out of 5 stars: {{review}} stars</p>
    {{address}}
    {{coord}}<br>
    {{#each comments}}
    {{title}}<br>
    {{body}}<br>
    {{date}}<br>
    {{/each}}
    <input value="{{address}}">
</div>
<div id="map" style='width: 100%; height: 300px;'></div>
<form action="/newKebab/{{_id}}/delete" method="POST">
    <button class="button" type="submit">Delete</button>
</form>
<form runat="server" action="/newKebab/edit/{{_id}}" method="GET">
    <button class="button" type="submit">Edit</button>
</form>
{{/each}}
</div>


<script>
    let addresses = []
    document.querySelectorAll("input").forEach(elem => {
        addresses.push(elem.value)
    })
</script>




