<h1>Kebab shop page</h1>
{{#each kebab}}
    <h3></h3><a href="/newKebab/{{_id}}">{{shopName}}</a></h3>

<h4>
    {{picture}}<br>
    {{review}}<br>
    {{address}}<br>
    {{coord}}<br>
    {{comments}}<br>
</h4>

<form action="/newKebab/{{_id}}/delete" method="POST">
    <button type="submit">Delete</button>
</form>

<form runat="server" action="/newKebab/edit/{{_id}}" method="GET">
    <button type="submit">Edit</button>
</form>
{{/each}}

<a href="/newKebab/new">Add a kebab shop</a><br>
<a href="/profile">Back to main page</a>