<h1>Kebab shop page</h1>


{{#each kebab}}
{{this.shopName}}<br>
{{picture}}<br>
{{review}}<br>
{{address}}<br>
{{coord}}<br>
{{comments}}<br>
{{/each}}

<p>delete button somewhere</p>

<a href="/newKebab/new">New kebab shop</a><br>
<a href="/newKebab/edit">Edit kebab shop</a><br>
<a href="/profile">Back to main page</a>