<h1>kebabmodel shop details</h1>

<h4>
    {{ kebabmodel.shopName }}<br>
    <img src="{{ kebabmodel.picture }}" alt="Kebab image"><br>
    {{ kebabmodel.review }}<br>
    {{ kebabmodel.address }}<br>
    {{ kebabmodel.coord }}<br>
    {{#each kebabmodel.comments}}
    {{title}}<br>
    {{body}}<br>
    {{date}}<br>
    {{/each}}
</h4>

<div id="map" style = 'width: 500px; height: 500px;' ></div>

<a href="/newKebab/index">Back to kebab page</a><br>
<a href="/profile">Back to main page</a>