<h1>kebabmodel shop details</h1>

<h4>
    {{ kebabmodel.shopName }}
    {{ kebabmodel.picture }}<br>
    {{ kebabmodel.review }}<br>
    {{ kebabmodel.address }}<br>
    {{ kebabmodel.coord }}<br>
    {{ kebabmodel.comments }}<br>
</h4>

<a href="/newkebabmodel/index">Back to kebabmodel page</a><br>
<a href="/profile">Back to main page</a>