<h1>kebabmodel shop details</h1>

<h4>
    {{ kebabmodel.shopName }}<br>
    <img src="https://res.cloudinary.com/dpqkayvki/image/upload/v1594124127/Krapp/8_owjrmn.jpg" alt="Kebab image"><br>
    {{ kebabmodel.review }}<br>
    {{ kebabmodel.address }}<br>
    {{ kebabmodel.coord }}<br>
    {{#each kebabmodel.comments}}
    {{title}}<br>
    {{body}}<br>
    {{date}}<br>
    {{/each}}
</h4>

<a href="/newKebab/index">Back to kebab page</a><br>
<a href="/profile">Back to main page</a>